<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">
                
     			<context:annotation-config />
     			
     	 <bean id="person1" class="com.training.assignment.spring.Person">
     	 	<constructor-arg index="0" value="Aishu" />
     	 	<constructor-arg index="1" value="female" />
     	 	<constructor-arg index="2" value="22" />
      	</bean>
     	 <bean id="cat1" class="com.training.assignment.spring.Cat">
      		<property name = "name" value = "cuty" />
      		<property name = "breed" value = "siamese" />
      		<property name = "age" value = "3" />
      	</bean>
     	 <bean id="dog1" class="com.training.assignment.spring.Dog">
     	 	<constructor-arg index="0" value="tommy" />
     	 	<constructor-arg index="1" value="german shepherd" />
     	 	<constructor-arg index="2" value="7" />
      	</bean>
     	 <bean id="pet" class="com.training.assignment.spring.Animal">
     	 	<constructor-arg index="0" value="red horse" />
     	 	<constructor-arg index="1" value="3" />
      	</bean>

 </beans>